.admin_label{
    flex-grow: 1;
    background-color: white;
    overflow-y: auto;
    .add{
        display: flex;
        align-items: center;
        padding: 20px 20px 20px 20px;
        // .mb(20);
        input{
            border: 1px solid @dlc;
            .h(30);
            .lh(30);
            .mr(10);
            padding: 0 10px;
        }
        button{
            .w(100);
        }
    }
	.table{
        // background-color: white;
        // color: white;
        .mb(20);
        .fs(12);
        border-left: none;
        border-right: none;
    }
}