<div class="admin_label">
	<div class="add">
		<div class="space"></div>
		<input type="text" class="addLabel" ng-model="name" ng-keyup="keyUp($event)">
		<button class="btn_default " ng-click="addLabel()">增加标签</button>
	</div>
	<div class="table">
		<ul class="thead">
			<li>标签id</li>
			<li>标签名称</li>
			<li>添加时间</li>
			<li>编辑</li>
		</ul>
		<ul class="tbody list" ng-repeat="item in list">
			<li>
				<span ng-bind="item.id"></span>
			</li>
			<li>
				<span ng-bind="item.name"></span>
			</li>
			<li>
				<span ng-bind="item.add_date"></span>
			</li>
			<li>
				<button class="link" ng-click="deleteLabel(item, $index)">删除</button>
			</li>
		</ul>
	</div>
	
</div>