.adminPage {
    height: 100%;
    display: flex; // align-items: stretch;
    .admin_left {
        flex-shrink: 0;
        .w(200);
        color: white;
        background-color: darken(@dbc, 50%);
        .pt(20);
        .back {
            .db;
            border: 1px solid @dfhc;
            .w(180);
            .h(50);
            .lh(50);
            .tac;
            .br(100);
            cursor: pointer;
            background-color: transparent;
            color: white;
            .fs(20);
            transition: all 0.2s linear;
            padding: 0;
            margin: 0 auto;
            .mb(20);
            &:hover {
                background-color: @dfhc;
            }
        }
        .menu {
            span {
                .fs(20);
            }
            li {
                cursor: pointer;
                .h(40);
                .lh(40);
                padding: 0 10px;
                &:hover {
                    color: @dfhc;
                }
            }
        }
    }
    .admin_right{
        flex-grow: 1;
        display: flex;
        
    }
    
}