.admin_list{
    height: 100%;
    display: flex;
    background-color: white;
    .label_menu{
        flex-shrink: 0;
        width: 200px;
        border-right: 1px solid @dlc;
        overflow-y: auto;
        ul{
            li{
                .h(40);
                padding: 0 20px; 
                .lh(40);
                cursor: pointer;
                display: flex;
                .name{
                    .th;
                    flex-grow: 1;
                }
                .count{
                    flex-shrink: 0;
                    color: @dfhc;
                }
                &:hover{
                    color: @dfhc;
                }
                &.active{
                    color: @dfhc;
                    background-color: fadeout(gray, 80%);
                }
            }
        }
    }
    .article_list {
        flex-grow: 1;
        overflow-y: auto;
        li {
            cursor: pointer;
            .th;
            .h(40);
            .lh(40);
            padding: 0 10px;
            border-bottom: 1px solid @dlc;
            display: flex;
            .title{
                flex-grow: 1;
                .th;
                &:hover {
                    color: @dfhc;
                }
            }
            .date{
                font-weight: lighter;
                flex-shrink: 0;
                .fs(14);
            }
            
        }
    }
}