.admin_list{
    flex-grow: 1;
    
    display: flex;
    background-color: white;
    .label_menu{
        flex-shrink: 0;
        width: 200px;
        border-right: 1px solid @dlc;
        overflow-y: auto;
        ul{
            li{
                .h(40);
                padding: 0 20px; 
                .lh(40);
                cursor: pointer;
                display: flex;
                .name{
                    .th;
                    flex-grow: 1;
                }
                .count{
                    flex-shrink: 0;
                    color: @dfhc;
                }
                &:hover{
                    color: @dfhc;
                }
                &.active{
                    color: @dfhc;
                    background-color: fadeout(gray, 80%);
                }
            }
        }
        .loading{
            .h(100);
        }
    }
    .article_list {
        flex-grow: 1;
        overflow-y: auto;
        li {
            .th;
            .h(40);
            .lh(40);
            padding: 0 10px;
            border-bottom: 1px solid @dlc;
            display: flex;
            align-items: center;
            .title{
                cursor: pointer;
                flex-grow: 1;
                .th;
                .w(10);
                &:hover {
                    color: @dfhc;
                }
            }
            .date{
                font-weight: lighter;
                flex-shrink: 0;
                .fs(12);
                color: lighten(@dfc, 10%);
            }
            
            .delete{
                cursor: pointer;
                flex-shrink: 0;
                .ml(20);
                .mr(10);
                .fs(12);
                color: @dfhc;
                transition: all 0.2s linear;
                -webkit-transition: all 0.2s linear;
                .h(26);
                .lh(26);
                .w(0);
                .br(2);
                overflow: hidden;
                background-color: @dfhc;
                color: white;
                // &:hover{
                //     background-color: @dfhc;
                //     color: white;
                // }
            }
            &:hover{
                .delete{
                    // display: block;
                    .w(40);
                }
            }
        }
    }
}