@dbc: #ECECEC;
@dfc: #666;
@dhc: #333;
@dfhc: #4FB660;
@dlc: #CECECE;
.dbs {
    box-shadow: 2px 2px 4px fadeout(black, 60%);
}

.space {
    .w(10);
    flex-grow: 1;
}

* {
    font-family: "Liberation Mono",Consolas, Menlo, Monaco,  "Courier New", monospace;
}

.pic{
    background-color: gray;
    width: 100%;
    height: 100%;
    .br(1000);
    span{
        .db;
        width: 100%;
        height: 100%;
    }
}

.dpw {
    >div {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
    }
}
.link{
    color: @dfhc;
    border: none;
    padding: 10px;
    cursor: pointer;
}


.btn_default {
    .db;
    background-color: @dfhc;
    color: white;
    border: none;
    .db;
    margin: 0 auto;
    width: 100%;
    .h(30);
    .lh(30);
    .br(30);
    .tac;
    cursor: pointer;
    &:hover {
        background-color: darken(@dfhc, 10%);
    }
    &:active {
        background-color: @dfhc;
    }
}

input,
button,
textarea {
    background-color: transparent;
    &:focus {
        outline: none;
    }
}
.app_loading{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    >.content {
        .w(80);
        .h(80);
        .ptr;
        margin: 0 auto;
        span {
            display: inline-block;
            .w(10);
            .h(10);
            border-radius: 100%;
            background: lightgreen;
            position: absolute;
            -webkit-animation: load 1.04s ease infinite;
        }
        span:nth-child(1) {
            .l(0);
            .t(40);
            .mt(-4);
            -webkit-animation-delay: 0.13s;
        }
        span:nth-child(2) {
            .l(10);
            .t(10);
            -webkit-animation-delay: 0.26s;
        }
        span:nth-child(3) {
            .l(40);
            .t(0);
            .ml(-4);
            -webkit-animation-delay: 0.39s;
        }
        span:nth-child(4) {
            .t(10);
            .r(10);
            -webkit-animation-delay: 0.52s;
        }
        span:nth-child(5) {
            .r(0);
            .t(40);
            .mt(-4);
            -webkit-animation-delay: 0.65s;
        }
        span:nth-child(6) {
            .r(10);
            .b(10);
            -webkit-animation-delay: 0.78s;
        }
        span:nth-child(7) {
            .b(0);
            .l(40);
            .ml(-4);
            -webkit-animation-delay: 0.91s;
        }
        span:nth-child(8) {
            .b(10);
            .l(10);
            -webkit-animation-delay: 1.04s;
        }
    }
    @keyframes load {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0.2;
        }
    }
    @-webkit-keyframes load {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0.2;
        }
    }
}
.table{
    border: 1px solid @dlc;
    .space{
        .h(20);
        border-top: 1px solid @dlc;
        border-bottom: 1px solid @dlc;
    }
    .null{
        width: 100%;
        margin: 0;
        .tac;
        .fs(30);
        border-top: 1px solid @dlc;
        .pt(20);
        .pb(20);
    }
    .space+.null{
        border-top: none;
    }
    .thead,.tbody{
        display: flex;
        li{
            width: 4%;
            flex-grow: 1;
            flex: 2;
        }
        .grow0{
            flex-grow: 0;
        }
        .shrink0{
            flex-shrink: 0;
        }
        li+li{
            border-left: 1px solid @dlc;
        }
    }
    ul+ul{
        border-top: 1px solid @dlc;
    }
    .thead{
        li{
            .tac;
            .pt(16);
            .pb(16);
            font-weight: bold;
            color: #666;
        }
    }
    .tbody{
        li{
            .h(20);
            .pt(6);
            .pb(6);
            display: flex;
            align-items: center;
            justify-content: center;
            span{
                .ml(6);
                .mr(6);
            }
        }
    }
}
.label_list {
    display: flex;
    flex-wrap: wrap;
    li {
        border: 1px solid @dfhc;
        margin: 4px 4px 4px 0;
        padding: 0 10px;
        .h(20);
        .lh(20);
        .br(20);
        .fs(12);
        color: @dfhc;
        // cursor: pointer;
        transition: background-color,color 0.2s linear;
    }
}
.form {
    .form_group {
        // border: 1px solid @dlc;
        display: flex;
        .br(30);
        overflow: hidden;
        .mb(10);
        .dbs;
        .label {
            background-color: @dfhc;
            .h(30);
            .lh(30);
            .w(100);
            .tac;
            .fs(14);
            color: white;
        }
        input[type=text],input[type=password] {
            flex-grow: 1;
            .db;
            .w(200);
            .h(30);
            .lh(30);
            .fs(14);
            padding: 0 10px;
            box-sizing: border-box;
        }
    }
}

.article_item {
    background-color: white;
    // .dbs;
    .br(0);
    .mb(10);
    padding: 10px;
    // .br(2);
    .title {
        font-weight: bold;
        color: @dhc;
        cursor: pointer;
        .h(30);
        .lh(30);
        .fs(20);
        .mb(10);
    }
    .label_wrapper {
        display: flex;
        align-items: center;
        border-bottom: 1px solid @dlc;
        .pb(10);
        .fs(12);
        .author,
        .add_date,
        .read_count {
            .mr(20);
        }
    }
    .detail {
        color: @dfc;
        padding: 10px;
    }
}