.admin_user {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    // .pt(10);
    .table{
        .tbody{
            li{
                .pt(10);
                .pb(10);
            }
        }
    }
}
